BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 100

BreakBeforeBraces: Attach

PointerAlignment: Left
ReferenceAlignment: Pointer

SpaceBeforeParens: ControlStatements

AccessModifierOffset: -4
NamespaceIndentation: None
IndentCaseLabels: false
